.header {
    background: #322E41;
    padding: 23px 0;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__nav-list-item-link {
    color: #fff;
    transition: 0.3s;
}

.header__nav-list-item-link:hover {
    color: #FFE600;
    border-bottom: 2px solid #fff;
    padding: 31px 12px;
}